body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-weight: normal;
}

.app {
	padding: 20px;

	&--header {
		padding-bottom: 20px;
	}

	&--builder {
		list-style: none;
		padding: 0;
		width: 100%;
	}

	&--builder-item {
		padding-left: 20px;
	}

	&--builder-box {
		width: 300px;
		margin: 20px 0;
		outline: 1px solid gray;
		text-align: right;
	}

	&--label {
		display: flex;
		justify-content: space-between;
		padding: 5px;
	}

	&--input {
		width: 200px;
		box-sizing: border-box;

		&-condition {
			box-sizing: border-box;
			width: 90px;
		}
	}

	&--button {
		box-sizing: border-box;
		background: lightgray;
		padding: 5px;
		margin: 10px;
		border: 1px solid gray;
	}
}